<template>
  <header class="header">
    <div class="container">
      <div class="header-holder">
        <strong class="logo"
          ><img alt="Vue logo" src="@/assets/logo.png"
        /></strong>
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <router-link to="/" class="nav-link">Home</router-link>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "MainHeader"
};
</script>
