<template>
  <div class="notify">
    <div class="notify-holder">
      <div class="notify-text">{{ messagge }}</div>
      <div class="btns center">
        <button @click="cancel" class="btn btn-danger sm">No</button>
        <button @click="confirm" class="btn btn-success sm">Yes</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Tooltip",
  props: {
    messagge: {
      type: String,
      default: ""
    }
  },
  methods: {
    cancel() {
      this.$emit("cancel");
    },
    confirm() {
      this.$emit("confirm");
    }
  }
};
</script>
