* {
  box-sizing: border-box;
}
body {
  background: #faf3f3;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  margin: 0;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #3c4ca9;
  text-decoration: none;
}
h1 {
  font-family: "InterExtraBold";
  font-size: 30px;
  line-height: 30px;
  color: #181c43;
  text-align: center;
  margin: 0 0 35px;
}
h2 {
  @extend h1;
  font-size: 22px;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  width: 100%;
  flex-basis: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-6 {
  @extend .col;
  width: 50%;
  flex-basis: 50%;
  @media screen and (max-width: 640px) {
    width: 100%;
    flex-basis: 100%;
  }
}

.logo {
  display: inline-block;
  max-width: 50px;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 640px) {
  .row {
    .btns {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
