.btns {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -10px 25px;
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 7px 12px;
  font-size: 14px;
  line-height: 1.5;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  transition: opacity 0.15s ease-in-out;
  &.btn-success {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
  }
  &.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  &.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  &:hover {
    opacity: 0.7;
  }
  &.sm {
    padding: 5px 10px;
    font-size: 12px;
  }
}

.btn-close {
  border: transparent;
  background: transparent;
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
  &:before,
  &:after {
    background-color: #000;
    display: block;
    content: "";
    width: 1px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
  }
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
