.form-label {
  display: inline-block;
  margin-bottom: 10px;
}
.form-group {
  margin-bottom: 15px;
}
.form-control {
  display: block;
  width: 100%;
  height: 35px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.checkbox {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
  &-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:checked + .checkbox-icon::before {
      background: #000;
      display: block;
      content: "";
      width: 8px;
      height: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:disabled + .checkbox-icon {
      opacity: 0.5;
    }
  }
  &-icon {
    background: #fff;
    border: 1px solid #000;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
  }
}
