.modal {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  &-holder {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 640px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &-top,
  &-content {
    padding: 15px 15px;
  }
  &-top {
    border-bottom: 1px solid #ccc;
    position: relative;
  }
  &-content {
    padding-top: 25px;
  }
  &-title {
    font-size: 22px;
  }
  .btn-close {
    position: absolute;
    right: 15px;
    top: 10px;
  }
  h2 {
    margin-bottom: 15px;
  }
  .btns {
    margin-bottom: 15px;
  }
  @media screen and (max-width: 640px) {
    padding: 30px 15px;
    overflow: auto;
    .modal-holder {
      position: static;
      margin: 0 auto;
      transform: translate(0, 0);
    }
  }
}
