.nav {
  &-list {
    display: flex;
  }
  &-item {
    margin: 0 15px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-link {
    font-family: "InterExtraBold";
    font-size: 18px;
    color: rgb(43, 75, 219);
  }
}
