.note-item {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  .btns {
    margin-bottom: 0;
  }
  &-title {
    margin-bottom: 0;
  }
  & > * {
    padding-left: 15px;
    padding-right: 15px;
  }
  &-top,
  &-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &-top {
    border-bottom: 1px solid #ccc;
  }
  &-bottom {
    border-top: 1px solid #ccc;
  }
  &-center {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
