.notify {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  &-holder {
    background: #ff6683;
    border-radius: 50px;
    width: 100%;
    max-width: 275px;
    padding: 10px 45px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: 17px;
    z-index: 10;
    transform: translateX(-50%);
  }
  &-text {
    text-align: center;
    margin-bottom: 15px;
  }
  .btns {
    margin-bottom: 5px;
  }
}
