.todos {
  &-item {
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    &-title {
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
    .form-group {
      margin-bottom: 0;
    }
    .editable {
      text-decoration: underline;
      cursor: pointer;
      &.inVisible {
        display: none;
      }
    }
    .btns {
      margin-bottom: 0;
    }
    .row-edit {
      display: none;
      &.visible {
        display: flex;
      }
    }
  }
}

.update .todos {
  margin-bottom: 25px;
}
