<template>
  <div class="home">
    <h1>Home</h1>
    <div class="btns">
      <button @click="isModal = true" class="btn btn-success">Add Notes</button>
    </div>
    <NotesList :notes="notes" />
    <Modal :isModal="isModal" @closeModal="closeModal($event)">
      <NotesCreate />
    </Modal>
  </div>
</template>

<script>
import NotesList from "@/components/Notes/NotesList.vue";
import Modal from "@/components/Modal/Modal.vue";
import NotesCreate from "@/components/Notes/NotesCreate.vue";
import { db } from "../main.js";

export default {
  name: "home",
  data() {
    return {
      isModal: false,
      notes: []
    };
  },
  firestore() {
    return {
      notes: db.collection("notes")
    };
  },
  components: {
    Modal,
    NotesCreate,
    NotesList
  },
  methods: {
    closeModal(event) {
      this.isModal = event;
    }
  }
};
</script>
