<template>
  <div class="note">
    <h1>Note information</h1>
    <NoteUpdate />
  </div>
</template>

<script>
import NoteUpdate from "@/components/Notes/NotesUpdate.vue";

export default {
  name: "Note",
  components: {
    NoteUpdate
  }
};
</script>
