<template>
  <div class="modal" v-if="isModal">
    <div class="modal-holder">
      <div class="modal-top">
        <div class="modal-title">Create Notes</div>
        <button @click="closeModal" class="btn-close"></button>
      </div>
      <div class="modal-content">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modal",
  props: {
    isModal: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    closeModal() {
      this.$emit("closeModal", false);
    }
  }
};
</script>
