<template>
  <div class="update">
    <form action="#">
      <div class="form-group">
        <label class="form-label" for="note-title">Note title</label>
        <input
          v-model="note.title"
          id="note-title"
          class="form-control"
          type="text"
        />
      </div>
      <div class="btns">
        <button @click.prevent="clickRemove" class="btn btn-danger">
          Delete note
        </button>
      </div>
      <h2>Todos list</h2>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <input
              v-model="todoTitle"
              class="form-control"
              type="text"
              placeholder="Enter todo title"
            />
          </div>
        </div>
        <div class="btns">
          <button @click.prevent="addTodo" class="btn btn-success">
            Add Todo
          </button>
        </div>
      </div>
      <TodosList
        :todos="note.todos"
        :editable="true"
        @checkTodo="checkTodo($event)"
        @updateTodo="updateTodo($event)"
        @deleteTodo="deleteTodo($event)"
      />
      <div class="btns right">
        <button @click.prevent="clickUpdate" class="btn btn-primary">
          Cancel update
        </button>
        <button @click.prevent="updateNote" class="btn btn-success">
          Update note
        </button>
      </div>
    </form>
    <Notify
      v-if="notify.isNotify"
      @cancel="cancel"
      @confirm="confirm"
      :messagge="notify.messagge"
    />
  </div>
</template>

<script>
import TodosList from "@/components/Todos/TodosList.vue";
import Notify from "@/components/Shared/Notify.vue";

export default {
  name: "NotesCreate",
  data() {
    return {
      id: this.$router.currentRoute.params["id"],
      initialNote: {},
      note: {},
      todoTitle: "",
      notify: {
        isNotify: false,
        event: "",
        messagge: ""
      }
    };
  },
  watch: {
    $route(toR) {
      this.id = toR.params["id"];
    }
  },
  components: {
    TodosList,
    Notify
  },
  created() {
    let id = this.id;
    this.$store.dispatch("LOAD_NOTE", id).then(response => {
      let initial = JSON.parse(JSON.stringify(response));
      this.initialNote = initial;
      this.note = response;
    });
  },
  methods: {
    addTodo() {
      let idTodo = this.note.todos.length + 1 + this.todoTitle;
      let todo = {
        id: idTodo,
        title: this.todoTitle,
        status: false
      };
      this.note.todos.push(todo);
      this.todoTitle = "";
    },
    checkTodo(newTodo) {
      let todo = this.note.todos.find(item => item.id === newTodo.id);
      todo.status = newTodo.status;
    },
    updateTodo(newTodo) {
      let todo = this.note.todos.find(item => item.id === newTodo.id);
      todo.title = newTodo.title;
    },
    deleteTodo(id) {
      let indexTodo = this.note.todos.findIndex(item => item.id === id);
      this.note.todos.splice(indexTodo, 1);
    },
    updateNote() {
      this.note.id = this.id;
      this.$store.dispatch("UPDATE_NOTE", this.note).then(() => {
        this.$router.push("/");
      });
    },
    clickRemove() {
      this.notify.event = "delete";
      this.notify.isNotify = true;
      this.notify.messagge = " Do you want to delete note?";
    },
    clickUpdate() {
      this.notify.event = "update";
      this.notify.isNotify = true;
      this.notify.messagge = " Do you want to cancel changes? ";
    },
    confirm() {
      if (this.notify.event === "delete") this.deleteNote();
      if (this.notify.event === "update") this.cancelUpdate();
      this.notify.isNotify = false;
      this.notify.event = "";
    },
    cancel() {
      this.notify.isNotify = false;
      this.notify.event = "";
      console.log("Just do nothing");
    },
    deleteNote() {
      this.$store.dispatch("DELETE_NOTE", this.id).then(() => {
        console.log("note delete");
        this.$router.push("/");
      });
    },
    cancelUpdate() {
      console.log(this.note, this.initialNote);
      this.note.title = this.initialNote.title;
      this.note.date = this.initialNote.date;
      this.note.todos = this.initialNote.todos;
      console.log("Cancel update");
    }
  }
};
</script>
