<template>
  <div class="notes">
    <div class="row">
      <div v-for="note of notes" :key="note['.key']" class="col-6">
        <div class="note-item">
          <div class="note-item-top">
            <h2 class="note-item-title">
              <router-link :to="`/note/${note['.key']}`">{{
                note.title
              }}</router-link>
            </h2>
          </div>
          <div class="note-item-center">
            <TodosList :limit="2" :todos="note.todos" />
          </div>
          <div class="note-item-bottom">
            <div class="btns right">
              <button @click="deleteNote(note['.key'])" class="btn btn-danger">
                Delete
              </button>
              <router-link :to="`/note/${note['.key']}`" class="btn btn-primary"
                >More</router-link
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <Notify
      v-if="notify.isNotify"
      @cancel="cancel"
      @confirm="confirm"
      :messagge="notify.messagge"
    />
  </div>
</template>

<script>
import TodosList from "@/components/Todos/TodosList.vue";
import Notify from "@/components/Shared/Notify.vue";

export default {
  name: "NotesList",
  props: {
    notes: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      key: null,
      notify: {
        isNotify: false,
        messagge: ""
      }
    };
  },
  components: {
    TodosList,
    Notify
  },
  methods: {
    cancel() {
      this.notify.isNotify = false;
    },
    confirm() {
      this.$store.dispatch("DELETE_NOTE", this.key).then(() => {
        this.notify.isNotify = false;
        this.notify.messagge = "";
      });
    },
    deleteNote(key) {
      this.notify.isNotify = true;
      this.notify.messagge = " Do you want to delete  note?";
      this.key = key;
    }
  }
};
</script>
