<template>
  <form action="#">
    <div class="form-group">
      <label class="form-label" for="note-title">Title</label>
      <input
        v-model="note.title"
        id="note-title"
        class="form-control"
        type="text"
      />
    </div>
    <h2>Todos list</h2>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <input
            v-model="todoTitle"
            class="form-control"
            type="text"
            placeholder="Enter todo title"
          />
        </div>
      </div>
      <div class="btns">
        <button @click.prevent="addTodo" class="btn btn-success">
          Add Todo
        </button>
      </div>
    </div>
    <TodosList :todos="note.todos" />
    <div class="btns right">
      <button @click.prevent="createNote" class="btn btn-success">
        Create note
      </button>
    </div>
  </form>
</template>

<script>
import TodosList from "@/components/Todos/TodosList.vue";

export default {
  name: "NotesCreate",
  data() {
    return {
      note: {
        title: "",
        date: null,
        todos: []
      },
      todoTitle: ""
    };
  },
  components: {
    TodosList
  },
  methods: {
    addTodo() {
      let idTodo = this.note.todos.length + 1;
      let todo = {
        id: idTodo,
        title: this.todoTitle,
        status: false
      };
      this.note.todos.push(todo);
      this.todoTitle = "";
    },
    createNote() {
      let date = new Date();
      this.note.date = date;
      let note = { ...this.note };

      this.$store.dispatch("CREATE_NOTE", note).then(() => {
        this.note.title = "";
        this.todoTitle = "";
        this.note.todos = [];
      });
    }
  }
};
</script>
