<template>
  <div id="layout-default">
    <MainHeader />
    <section>
      <div class="container">
        <slot />
      </div>
    </section>
    <MainFooter />
  </div>
</template>

<script>
import MainHeader from "@/components/Shared/MainHeader.vue";
import MainFooter from "@/components/Shared/MainFooter.vue";

export default {
  components: {
    MainHeader,
    MainFooter
  }
};
</script>
