<template>
  <ul class="todos">
    <li v-for="todo of todosLimit" :key="todo.id" class="todos-item">
      <label :for="`check-${todo.id}`" class="checkbox">
        <input
          :id="`check-${todo.id}`"
          class="checkbox-input"
          type="checkbox"
          :checked="todo.status"
          :disabled="!editable"
          @change="checkTodo(todo)"
        />
        <span class="checkbox-icon"></span>
      </label>
      <div :id="`edit-${todo.id}`" class="row row-edit">
        <div class="col-6">
          <div class="form-group">
            <input
              :id="`input-${todo.id}`"
              v-model="updateTitle"
              class="form-control"
              type="text"
              placeholder="Enter todo title"
            />
          </div>
        </div>
        <div class="btns">
          <button @click.prevent="updateTodo(todo)" class="btn btn-primary sm">
            Update todo
          </button>
        </div>
      </div>
      <span
        @click="toggleEdit(todo)"
        v-if="editable"
        :id="`editBtn-${todo.id}`"
        class="notes-title editable"
        >{{ todo.title }}</span
      >
      <button
        v-if="editable"
        @click.prevent="deleteTodo(todo)"
        class="btn btn-danger sm"
      >
        Delete
      </button>
      <span v-if="!editable" class="notes-title">{{ todo.title }}</span>
    </li>
  </ul>
</template>

<script>
export default {
  name: "TolodList",
  props: {
    todos: {
      type: Array,
      default: () => []
    },
    editable: {
      type: Boolean,
      default: false
    },
    limit: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      updateTitle: ""
    };
  },
  computed: {
    todosLimit() {
      return this.limit ? this.todos.slice(0, 2) : this.todos;
    }
  },
  methods: {
    toggleEdit(todo) {
      let rows = document.querySelectorAll(".row-edit");
      let row = document.querySelector(`#edit-${todo.id}`);
      let input = document.querySelector(`#input-${todo.id}`);
      input.value = todo.title;
      rows.forEach(item => {
        item.classList.remove("visible");
      });
      row.classList.toggle("visible");
    },
    checkTodo(todo) {
      this.$emit("checkTodo", { id: todo.id, status: !todo.status });
    },
    updateTodo(todo) {
      let row = document.querySelector(`#edit-${todo.id}`);
      row.classList.remove("visible");
      this.$emit("updateTodo", { id: todo.id, title: this.updateTitle });
    },
    deleteTodo(todo) {
      this.$emit("deleteTodo", todo.id);
    }
  }
};
</script>
